.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

button {
  cursor: pointer;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.menu-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;

  /* color: #ffffff; */
}

.menu-link:hover,
.menu-link:focus {
  color: #ff6c00;
}

.contact-phone-number {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;

  /* color: #ffffff; */
}

.contact-phone-number:hover,
.contact-phone-number:focus {
  color: #ff6c00;
}

.modal-btn {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  /* color: #ffffff; */
}

.modal-btn:hover,
.modal-btn:focus {
  color: #ffffff;
  background-color: #ff6c00;
}
