.section-description {
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.02em;
}

.section-description-theme-dark {
  color: var(--primary-text-color-theme-dark);
}

.section-description-theme-light {
  color: var(--primary-text-color-theme-light);
}

@media screen and (min-width: 1200px) {
  .section-description {
    font-size: 18px;
    line-height: 1.67;
  }
}
